<p>Вы зарегистрировались на портале <a href="http://get-offers.ru">get-offers.ru</a>.</p>
<p>Для подтверждения адреса почты нажмите "Подтвердить"</p>
<p>
    <a href="{{ url }}">Подтвердить</a>
</p>

<p>Если вы не регистрировались, проигнорируйте данное письмо</p>