<p>Вы запросили ссылку для восстановления пароля на портале <a href="http://get-offers.ru">get-offers.ru</a>.</p>
<p>Для ввода нового пароля нажмите "Восстановить"</p>
<p>
    <a href="{{ url }}">Восстановить</a>
</p>

<p>Если вы не запрашивали смену пароля, обратитесь к администраторам сайта или группы.</p>